<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body style="background: url(bg1.jpg) no-repeat 20% 20%;">
    <form class="box" action="/chat" method='post'>
      <h1>로그인</h1>
      아이디 
      <input type="text" name='id' autocomplete="off" /><br />
      비밀번호 
      <input type="password" name='pw' autocomplete="off" /><br />
      <input type="submit" value="로그인" />
      <input type="button" onclick="location.href='signup'" value="회원가입" />
      <!-- <input type="button" onclick="location.href='asd'" value="이미지테스트" /> -->
    </form>
    
    
  </body>
</html>