<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body style="background: url(bg1.jpg) no-repeat 20% 20%;">
    <form class='box'>
      <h1>회원가입 성공</h1><br />
      <input type="button"  onclick="location.href='/'" value="홈으로" />
    </form>
  </body>
</html>