<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body style="background: url(bg1.jpg) no-repeat 20% 20%;">
    
      <form class="box" action="/signup" method='post'>
        <h1>회원가입</h1>
        아이디  <input type="text" name='id' autocomplete="off" /><br />
        비밀번호  <input type="password" name='pw' autocomplete="off" /><br />
        별명  <input type="text" name='nickname' autocomplete="off"/><br />
        <input type="submit"  value="회원가입" /><br />
      </form>
    
  </body>
</html>